#navbar {
    border-bottom:0.1em solid black;
    padding:0.5em;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    background-color: white;
}

#by-label {
    margin-top: 3em;
}

#by-shot {
    margin-top: 3em;
}

.annotator {
    position: fixed;
    left: 550px;
    top: 60px;
    bottom: 20px;
    right: 10px;
    overflow-y: scroll;
}

.labeldiv {
    font-weight: bold;
}

.splitSelector {
    text-align: center;
}


.splitSelector img.selected {
    border: 3px solid red;
}

.splitSelector img {
    border: 3px solid white;
}

.shot {
    width: 512px;
    height: 288px;
    display: block;
    border: 3px solid white;
    margin: 2px;
}

.shot.annotated {
    opacity: .5;
    border: 3px solid green;
}

.shot.selected {
    border: 3px solid red;
}

img.thumbnail.selected {
    border: 3px solid red;
}

img.thumbnail.hasLabel {
    opacity: .7;
    border: 3px solid green;
}

img.thumbnail {
    width: 192px;
    height: 108px;
    border: 3px solid white;
    margin: 2px;
}

#labeled-shots {
    height: 212px;
    overflow-x:scroll;
}

#unlabeled-shots {
}

